<html>
  <head>
    <script language="javascript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.2.9/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="../js/sketch.js"></script>
    <script language="javascript" type="text/javascript" src="../js/socket.io-1.4.5.js"></script>
  </head>
  <body>
  </body>
</html>

<script>
socket = io.connect();
  // We make a named event called 'mouse' and write an
  // anonymous callback function
  socket.on('mouse',
    // When we receive data
    function(data) {
      console.log("Got: " + data.x + " " + data.y);
      // Draw a blue circle
      fill(0,0,255);
      noStroke();
      ellipse(data.x,data.y,80,80);
    }
  );
  </script>